// // MIAMI VICE FONTS
// @import url(//db.onlinewebfonts.com/c/19007e0c85468fd509414342e0ca9c68?family=Broadway);
// @import url(//db.onlinewebfonts.com/c/0d8e96f33dd837ac9cce89a414ae3ae0?family=BroadwaySte);

// // VCR FONT
// @import url(//db.onlinewebfonts.com/c/2545d122b16126676225a5b52283ae23?family=VCR);

// MIAMI VICE COLORS
$miami-sky: rgba(89, 197, 207, 1);
$miami-pink: rgba(233, 22, 140, 1);
$miami-blue: rgba(46, 52, 144, 1);

// MONOTONE
$white: rgba(242, 242, 242, 1);
$grey3: rgba(140, 140, 140, 1);
$grey3-25: rgba(140, 140, 140, .25);
$grey2: rgba(63, 63, 63, 1);
$grey1: rgba(38, 38, 38, 1);
$black: rgba(12, 12, 12, 1);

$crt-green: rgba(51, 255, 51, 1);
$crt-green-dark: rgba(29, 134, 29, 1);

body,
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, sans-serif;
  overflow: hidden;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// .noise-initial {
//   opacity: 0;
//   position: fixed;
//   z-index: 1001;
//   pointer-events: none;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-image: url(../img/noise-initial.gif);
// }
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.noise {
  margin: auto;
  border-radius: 50%;
  position: relative;
  z-index: 1000;
  pointer-events: none;
  width: 0;
  height: 0;
  background-repeat: repeat;
  background-position: center;
  background-size: 500, 500;
  background-image: url(../img/noise.gif);
  opacity: 1;
}

.bit-announcement {
  opacity: 0;
  font-family: VCR;
  font-size: 5em;
  color: $crt-green;
  width: 100vw;
  bottom: 0;
  display: block;
  text-align: right;
  box-sizing: border-box;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  padding-right: 1rem;
  padding-bottom: 1rem;
  text-shadow: 0px 1px 0px $crt-green-dark;
  animation: vibrate .05s infinite;
}

.channel-number {
  opacity: 0;
  font-family: VCR;
  font-size: 5em;
  color: $crt-green;
  display: block;
  box-sizing: border-box;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  margin: .5em;
  text-shadow: 0px 1px 0px $crt-green-dark;
  animation: vibrate .05s infinite;
}

@keyframes vibrate {
  0% {}
  50% {transform: translateX(.5px)}
  100% {}
}

.page1 {
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: $white;

  img {
    z-index: 101;
    height: 91vh;
    position: absolute;
    bottom: 0px;
    left: 20%;
  }

  .text {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0em 1em 1em 1em;

    .name {
      margin: 0 auto;
      margin-top: -.25rem;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 6em;
    }

    .titles {
      // filter: blur(.3px);
      // font-style: italic;

      font-weight: 200;
      text-align: right;
      text-transform: lowercase;
      font-size: 1.5em;
      margin-top: auto;
      margin-bottom: -.25rem;
    }
  }
}

.page2 {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: $grey1;
  // background-image: url(../img/the-cesars.png);
  // background-size: cover;

  .bg {
    position: absolute;
    z-index: 199;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/the-cesars.png);
    background-size: cover;
    background-position: center;
  }

  .text {
    position: relative;
    border: 2px solid green;
    z-index: inherit;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1em;

    .announcement {
      white-space: nowrap;
      font-size: 1.5em;
      line-height: 1.5em;
      text-align: center;
      margin: auto;

      :first-child {
        font-family: "adobe-garamond-pro";
        font-style: italic;
        font-weight: bold;
        font-size: 2em;
      }
    }

    .credit {
      opacity: 0;
      position: absolute;
      display: inline-block;
      bottom: .75em;

      :first-child {
        color: $grey3;
      }

      a {
        text-decoration: none;
        color: $white;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.page3 {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 300;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  overflow: hidden;

  .bg {
    width: 100vw;
    height: 0vh;
    position: absolute;
    bottom: 0;
    background-color: $miami-blue;
  }

  .text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10vw;
    top: 10vh;
    font-family: Broadway;
    // font-style: "Stencil Standard (d)";
    color: $miami-sky;
    white-space: nowrap;
    font-size: 4em;

    :nth-child(1) {
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $miami-sky;
    }

    :nth-child(2) {
      // font-family: Broadway;
      text-transform: uppercase;
    }

    :nth-child(3) {
      text-transform: uppercase;
      color: $miami-pink;
    }
  }
}

// creative text notes

// clipping to background
// -webkit-background-clip: text; on a h1 (background also animatable)
// -webkit-text-fill-color: transparent; to finalize it

// put content of h1 in data-heading
// h1::before {
//  content: attr(data-heading); as a way of duplicating
//  position: absolute;
// }