doctype
html(lang='en')
  head
    meta(charset='utf-8')
    // fonts
    link(rel="stylesheet", href="//db.onlinewebfonts.com/c/19007e0c85468fd509414342e0ca9c68?family=Broadway")
    link(rel="stylesheet", href="//db.onlinewebfonts.com/c/0d8e96f33dd837ac9cce89a414ae3ae0?family=BroadwaySte")
    link(rel="stylesheet", href="//db.onlinewebfonts.com/c/2545d122b16126676225a5b52283ae23?family=VCR")

    // stylesheets
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://use.typekit.net/ntu4qqk.css")
    title George Cesar
    script(src="js/jquery/jquery-3.4.1.min.js")
    script(src="js/parallax/parallax.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js")
    script(src="js/gsap/CustomEase.min.js" type='module')
    script(defer, src="js/app.js")
  body
    .container
      //- .noise-initial
      .noise
      .channel-number RGB
      
      // PAGE 1
      .page1
        img#gc-half(src="img/george-cesar-contour-half.png" alt="A portrait of George Cesar")
        .text
          .name George Cesar
          .titles.
            Multi-instrumentalist<br>
            Sound engineer<br>
            Producer<br>
            Guitarist

      // PAGE 2
      .page2
        .bg
        .text
          .announcement
            span Hey, 
            span thanks for visiting my website.<br>
            span.
              I'm an italian musician, engineer and producer<br>
              with a passion for technology and cooking.<br><br>
              I'm currently developing my artistic portfolio,<br>
              while I finish my degree in music production.<br>
              Scroll down to see my latest works.
          .credit
            span Picture 
            a(href="https://www.bykanvas.com/" target="_blank") byKanvas

      // PAGE 3
      .page3
        video#miami-traffic(autoplay muted loop)
          source(src="vid/miami-traffic.mp4" type="video/mp4")
        .content
          .text        
            span with<br>
            span César<br>
            span.paniagua(data-text="Paniagua") Paniagua  
          .video-previews
            img.video-preview1(src="img/mellow-and-fine.jpg")
            img.video-preview2(src="img/nobody-knows.jpg")
          //- iframe.video1(width="560" height="315" src="https://www.youtube.com/embed/d7vIT4ATWf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen modestbranding='1')
          //- iframe.video2(width="560" height="315" src="https://www.youtube.com/embed/os-x-xkcCqA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen modestbranding='1')
        .video-description
          span Miami, Florida